.container {
    text-align: center;
}

.heading {
    margin-bottom: 20px;
}

.button {
    width: 120px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    line-height: 2;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}
